.container{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius:var(--br);
    background-color: black;
    border: 1px solid black;
}
.btn  > svg{
    color: white;
    font-size: 19px;
}
.btn.active{}

.btn:disabled{
    background-color: rgb(230, 227, 227);
    border: 1px solid  var(--border);
}

.container > input{
    width: 40px;
    text-align: center;
    height: 40px;
    border-radius: var(--br);
    border: 1px solid var(--border);
    font-weight: 400;
}
