.statisticschartcard {
    /* border: 1px solid #e0e0e0; */
    /* border-radius: 8px; */
    /* padding: 20px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* width: 600px; Adjust as needed */
    /* margin: 20px auto; Center horizontally */
    /* background-color: white; */
    /* height: 200px; */
  }
  
  .header {
    /* text-align: center; */
    /* margin-bottom: 20px; */
  }
  
  .header h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .header p {
    margin: 0;
    color: gray;
  }
  