.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "one one"
        "three three"
        "two two"
        "four five"
    ;

    @media (width > 1000px){
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "one one one two two two"
            "three four five two two two"
        ;
    }
}

.grid>:nth-child(1) {
    grid-area: one;
}

.grid>:nth-child(2) {
    grid-area: two;
}

.grid>:nth-child(3) {
    grid-area: three;
}

/* .grid>:nth-child(7) {
    grid-area: seven;
} */

/* .grid>:nth-child(4) {
    grid-area: four;
} */

/* .grid>:nth-child(5) {
    grid-area: five;
} */

.mtop{
    margin-top: 40px; 
    & .flexx{
        & h5 {
margin-bottom: 15px !important;
    }
}
}
.heading {
    margin-bottom: 0;
}

.colored_box {
    height: 200px;
    border-radius: var(--br);
    border: 1px solid var(--border);
}

.graph {
    border-radius: var(--br);
    border: 1px solid var(--border);
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* row-gap: 20px; */
    background: #ECFAFF;
    & h3{
        padding-inline: 20px;
        padding-top: 20px;
    }
}


/* Grid 2 */

.grid_2 {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "one one one one one one"
        "two two two two two two"
        "three three three six six six"
        "four four four five five five"
        "seven seven seven eight eight eight"
        "nine nine nine nine nine nine"
        "ten ten ten ten ten ten"
    ;

    @media (width > 1000px){
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "one one one two two  "
            "three four five two two "
            "six seven eight two two "
            "nine nine ten ten ten"
        ;
    }
}

.grid_2>:nth-child(1) {
    grid-area: one;
}

.grid_2>:nth-child(2) {
    grid-area: two;

}

.grid_2>:nth-child(3) {
    grid-area: three;
}

.grid_2>:nth-child(4) {
    grid-area: four;
}

.grid_2>:nth-child(5) {
    grid-area: five;
}

.grid_2>:nth-child(6) {
    grid-area: six;
}

.grid_2>:nth-child(7) {
    grid-area: seven;
}

.grid_2>:nth-child(8) {
    grid-area: eight;
}

.grid_2>:nth-child(9) {
    grid-area: nine;
}

.grid_2>:nth-child(10) {
    grid-area: ten;
}


.heading {
    font-weight: 600;
}


/* 
@media screen and (width >=1000px) {
    .grid {

        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "one one one two two two"
            "three four five two two two"
        ;
    }

    .grid_2 {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            "one one one two two  "
            "three four five two two "
            "six seven eight two two "
            "nine nine ten ten ten"
        ;
    }
} */

.heading {
    font-weight: 500;
}


.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "one one"
        "two two"
        "three three"
        "four four"
         "five five"
         "six six"
    ;

    @media (width < 1000px) {
        grid-template-areas:
            "one one"
            "two two"
            "three three"
            "four four"
            "five five"
            "six six"
        ;
    }
}
.up_div{
    display: flex !important;
    width: 100%;
    gap: 20px;
    flex-direction: row !important;
}

.data_div_con {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    grid-area: one;
}

.grid>div:nth-child(2) {
    grid-area: two;
    padding: 20px;
    grid-template-columns: repeat(1, 1fr) !important;

    /* height: 300px; */
}

.grid>div:nth-child(2)>div {
    width: 100%;
    
}

.grid>div:nth-child(3) {
    grid-area: three;
}

.grid>div:nth-child(4) {
    grid-area: four;
}


.data_div_con>a {
    grid-column: span 2;

    @media (width < 1000px) {
        grid-column: span 6;
    }
}
.flexx{
    display: flex;
    justify-content: space-between;
    & button{
        background-color: white;
        border: none;
        color: rgba(66, 77, 182, 1);
        text-decoration: underline;
        font-weight: 500;
    }
}
.inner_div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.my_most_inner {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    height: 200px;
    overflow: scroll;
}

.my_bar_container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    grid-template-areas: "one one two";

    @media (width < 1000px) {
         grid-template-areas: "one one one" 
         "two two two"
    }
}

.my_bar_container > div:nth-child(1){
    grid-area: one;
    height: 98% !important;
}
.my_bar_container > div:nth-child(2){
    grid-area: two;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.my_bar_container1{
    display: flex;
    flex-direction: column;
}
.head1{
    font-size: 18px;
    color: rgba(66, 77, 182, 1);
    margin-block: 20px;
    font-weight: 500;
}

.my_bar_inner_box{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}
.my_bar_inner_box h1{
    font-size: 40px;
    font-weight: 500;
}
.my_bar_inner_box h5{
    font-size: 13px;
    font-weight: 500;
}
.my_bar_inner_box span{    border-radius: 20px;
    padding: 5px 15px;
    max-width: max-content;
    font-size: 13px;
    display: block;
    margin-inline: auto;
    font-weight: 400;


    @media (width < 1000px) {
       margin-bottom: 20px;
   }
}
.red{    background: #ffacac;
    color: red;}
.green{
    color: green;
    background:rgb(218, 255, 219);
}
.see_all{
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration: underline;
    font-size: 13px;
}

.my_bar_container4{
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.my_bar_container4 > div{
    padding: 20px;

}
.head2{
    border-bottom: 1px solid #d9d9d9;
    padding: 20px;
    font-size: 18px;
    color: rgba(66, 77, 182, 1);
    /* margin-block: 20px; */
    font-weight: 500;
}