.my_page_heading{
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-rows: 190px;
    margin-bottom: 20px;
}

.grid>div:nth-child(1) {
    grid-column: 1 / span 2;

}
.cls_W{
    width: 100% !important;
}

.grid>div:nth-child(2) {
    grid-column: span 4;
}
.stu_info{
    margin: 15px 0;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    border-bottom: 1px solid #d9d9d9;
}
.stu_info>p:nth-child(2){
    color: #989898;
}
.stu_info>p:nth-child(3){
    color: #989898;
    margin-bottom: 10px;
}

.del_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.heading {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.flex_complete{
    display: flex;
    gap: 30px;
    /* margin-top: 30px; */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
.com_width{
    width: 100% !important;
}
.flex div {
    width: 100%;
}
.com_div{
    padding: 50px;
}

.flex div:has(input) {
    width: 30%;
}


.flex2 {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    padding: 30px 0;
    /* border-top: 1px solid var(--border); */
    /* border-right: none;
    border-left: none; */
}


.login_button {
    background: var(--tm);
    width: 100px;
    height: 30px;
    border-radius: var(--br);
    border: none;
    font-weight: 400;

}
.cont_main{
    /* height: 100% !important; */
    padding: 20px;
}
.teach_div > h5{
margin-bottom: 20px;
font-size: 16px;
font-weight: 500;
color: #0060D4;
}
.teach_div > div{
margin-bottom: 10px;
line-height: 1.5;
border-bottom: 1px solid #d9d9d9;
padding-bottom: 10px;
}
.view_btn{
    background: none;
    border: none;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}
.inn_teach{
    display: flex;
    gap: 10px;
    align-items: center;
    /* margin-bottom: 100px; */
}
.teach_div2 > h5{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}
.teach_div2 > p{
    font-size: 14px;
    font-weight: 500;
    color: #989898;
}
.img2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.main_div{
    border: 1px solid #d9d9d9;
    /* width: 24% !important; */
    padding: 10px 20px;
    border-radius: 5px;
    line-height: 1.6;
    width: fit-content !important;
}
.main_div2{
    width: 48% !important;
}

.main_div > h3 {
    font-size: 14px;
    font-weight: 500;
}
.main_div > p {
    font-size: 13px;
    color: #989898;
}

.inn_exp{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500; 
}

.test_div{
    display: flex;
      /* align-items: end;
      justify-content: end; */
      position: relative;
      width: 24% !important;
      flex-direction: column;
    }
    .wd1{
        width: 100% !important;
    }
    .video_input{
        height: 45px;
        padding: 10px;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        color: #989898;
        outline: none;
        width: 100%;
    }
    .video_input_btn{
        background: black;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        /* margin-top: 10px; */
        /* width: 150px; */
        height: 45px;
    }
    .select_div{
        width: 30% !important;
    }
    .select_input{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        outline: none;
        font-size: 13px;
        padding-inline: 14px;
        font-weight: 500;
    
    }
    .select_label{
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #2A2A2A;
    }
    
    .test_inn_div{
      width: auto !important;
    position: absolute;
    background: white;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: end;
    align-items: end;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    gap: 10px;
    border-radius: 5px;
    font-size: 17px;
  }

  .button {
    width: 25%;
    height: 40px;
    border-radius: 4px;
    background-color: #000;
    color: white;
    border: none;
    font-size: 14px;
}

.end {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
}

.cancel_btn {
    height: 40px;
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    background: #efefef;
    border-radius: var(--br);
    font-weight: 600;
    border: none;
}
.complete{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    flex-direction: column;
}
.p{
    margin: 10px 0;
    font-size: 13px;
    color: #989898;
    width: 30%;
    text-align: center;
}
.p > a {
    margin: 10px 0;
    font-size: 13px;
    color: #989898;
    width: 30%;
    text-align: center;
}
.img1{
    z-index: 1;
    margin-left: -34px;
    margin-right: -52px;
    margin-top: -30px;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 100px;
    /* width: 60%; */
    align-items: center;
    text-align: center;
}

.reversed>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reversed>div h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.reversed>div p {
    font-size: 13px;
    width: 90%;
}
.right>.p {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #646464;
    width: 50%;
}

.right>.p a {
    color: black;
    text-decoration: none;
}
.style_div{
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
}

.style_div_p {
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 50%;
    color: #FFE4A3;
    border: none;
    z-index: 100;
}
.inn_div{
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inn_div > span {
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0;
}
.p2{
    background: #f2f2f2 !important;
    color: black !important;
    font-weight: 500 !important;
}
.nav{
    display: flex;
    align-items: end;
    justify-content: end ;
    padding: 15px 30px ;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.toggle_btn{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border:1px solid  black;
    color: black;
    text-decoration: none;
}
.res_a{
    width: 240px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.bottom {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.bottom>button {
  border: none;
  border-radius: 5px;
    padding: 10px 20px;
    height: 40px;
    width: 20%;
    color: white;
    background: black;
}

.bottom>button:nth-child(1) {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #d9d9d9;
    color: black !important;
    height: 40px;
    font-weight: 500;
    width: 20%;
}
@media screen and (max-width:900px) {
    .right {
        width: 100%;
        border-left: none;
        padding: 20px !important;
    }
    .right>.p{
        width: 90%;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .grid>div {
        width: 100%;
    }

    .flex {
        width: 100%;
    }

    .flex div:has(input) {
        width: 47%;
    }
    .main_div2{
        width: 100%;
    }
}

@media screen and (max-width:500px) {

    .flex div:has(input) {
        width: 100%;
    }
}