/* .data_div_con {
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.data_div_con>a {
    grid-column: span 2;

    @media (width < 1000px) {
        grid-column: span 4;
    }
}

.black_btn {
    width: 120px;
    height: 40px;
    font-size: 13px;
}

.btns {
    display: flex;
    align-items: center;
    border-radius: var(--br);
    border: 1px solid var(--border);
    width: max-content;
    font-weight: 500;
    overflow: hidden;

    @media (width < 500px) {
        flex-direction: column;
        width: 100%;
    }
}

.btns>button {
    width: 214px;
    height: 45px;
    font-size: 13px;
    border: none;

    @media (width < 500px) {
        width: 100%;
    }
}

.active {
    background: black;
    color: white;
} */

.card {
    padding: 10px 20px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    line-height: 2.5;
    background: white;
  }
.h6{
    font-size: 14px;
}
  .span{
    padding: 3px 7px;
    background: red;
    border-radius: 100%;
    color: white;
    font-size: 12px;
    margin-left: 10px;
  }
  .p{
    font-size: 13px;
    font-weight: 500;
  }
  .open, .closed{
    color: #F0A434;
    background: #FFF1D0;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  .closed{
    color: #00A707;
    background: #D5FFD7;
  }

  .heading{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .btn {
    width: 120px;
    height: 40px;
    font-size: 13px;
    border: none;
}