.data_div_con {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.data_div_con>a {
  grid-column: span 2;

  @media (width < 1000px){
    grid-column: span 4;
  }
}
.choose_date > div:nth-child(1) {
  border: 1px solid #d9d9d9;
  border-radius: var(--br);
  height: 45px;
  width: max-content;
  padding-inline: 10px;
  font-size: 13px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.choose_date svg {
  width: 14px;
  stroke: #757272;
}

.sb{
  border: 1px solid var(--border);
  border-radius: var(--br);
}
.sb_div{
  display: flex;
  gap: 10px;
}
.cont{
  padding: 20px 20px 20px 0;
  margin: 20px 0;
}
.cont1{
  margin: 0;
    padding: 0 28px 30px;
}
.cont2{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0;
  font-size: 14px;
}
.container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}