.fold > div:nth-child(1){
    background-color: rgb(226, 226, 226);
}
.fold_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.fold{
    width: 100%;
}
.fold_body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.btns {
    display: flex;
    align-items: center;
    gap: 20px;
    /* justify-content: space-between; */
}
.btns2{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.btns2 button:nth-child(1){
    color: black;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: white;
    width: 100%;
    /* border: none; */
    height: 45px;
    width: 49.5%;
    font-weight: 500;
    font-size: 13px;
}
.btns2 button:nth-child(2){
    color: white;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: black;
    width: 100%;
    border: none;
    height: 45px;
    width: 49.5%;
    font-weight: 500;
    font-size: 13px;
}


.btns button:nth-child(1) {
    color: black;
    border: 1px solid currentColor;
    border-radius: var(--br);
    background: none;
}
.btns button:nth-child(2) {
    border-radius: var(--br)
}
.btns button {
    height: 45px;
    width: 200px;
    font-weight: 500;
    font-size: 13px;
}

.fold_body p {
    font-size: 14px;
    color: #898989;
}

.fold_header h5{
    font-weight: 500;
}

@media screen and (max-width:450px){
    .btns button {
        width: 49%;
    }
}