.del_btn{
    /* color: #000 !important; */
text-decoration:underline;
cursor: pointer;
color: white;
font-size: 13px;
}

.render_img{
    border: 1px solid #ccc;
    position: relative;
    width: max-content;
    margin: 10px !important;
    border-radius: 5px !important;
}
.render_img img{
    width: 60px;
    height: 60px;
    border-radius:5px;
}
.render_img button{
    border-radius: 50%;
    background: black;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    top: -8px;
    width: 20px;
    height: 20px;
}
.render_img button > svg{
    color: white !important;
}