.my_form {
    display: flex;
    column-gap: 10px;
    align-items: center;
    position: relative;
}

.input_container {
    width: calc(100% - 40px);
}

.input_container>input {
    border-radius:5px;
    border: 1px solid #d9d9d9;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    font-size: 14px;
    outline: none;
}
.icon_btn{
    cursor: pointer;
    position: absolute;
    right: 6%;
    top: 30%;
}
.attach1{
    position: absolute;
    left: 20px;
    top: 12px;
    color: #989898;
    font-size: 14px;
}

.my_btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 14px;
}
.render_pdf{
    border: 1px solid #ccc;
    position: relative;
    /* width: ; */
    margin: 10px !important;
    border-radius: 5px !important;
}

.render_pdf button{
    border-radius: 50%;
    background: black;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    top: -8px;
    width: 20px;
    height: 20px;
}
.render_pdf{
    padding: 20px;
    font-size: 13px;
    font-weight: 500;
    width: 80%;
}
.render_img button > svg{
    color: white !important;
}
.render_pdf button > svg{
    color: white !important;
}
.render_img img{
    width: 60px;
    height: 60px;
    border-radius:5px;
}
.render_img button{
    border-radius: 50%;
    background: black;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    top: -8px;
    width: 20px;
    height: 20px;
}
.render_img{
    border: 1px solid #ccc;
    position: relative;
    width: max-content;
    margin: 10px !important;
    border-radius: 5px !important;
}
@media screen and (max-width:600px){
    .icon_btn{
        right: 14%;
    }
}
@media screen and (max-width:400px){
    .icon_btn{
        right: 25%;
    }
}