.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

.inner_box_1 {
    padding: 20px;
    grid-column: span 2;
    display: flex;
    align-items: center;

    @media (width < 1000px) {
        grid-column: span 4;
    }

    @media (width < 500px) {
        grid-column: span 8;
    }
}
.test_div{
    width: 300px;
}

.det_box {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.det_box h1 {
    font-size: 36px;
    font-weight: 500;
}

.det_box p {}

.red_box {
    display: flex;
    align-items: center;
    background-color: #FFECEC;
    column-gap: 10px;
}

.red_square {
    color: #B60000;
    border: 1px solid currentColor;
    border-radius: var(--br);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.red_box_details {
    display: flex;
    row-gap: 5px;
    flex-direction: column;
}

.red_box_details h4 {
    color: #B60000;
    font-weight: 500;
    font-size: 14px;
}

.red_box_details p {
    font-size: 11px;
}

/* Innner box 2  */

.inner_box_2 {
    padding: 20px;
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

.inner_box_3 {
    padding: 20px;
    grid-column: span 8;
    display: flex;
    gap: 20px;
    height: 250px;
    overflow: hidden;
    flex-direction: column;

    @media (width > 1000px) {
        grid-column: span 4;
    }
}

.inner_box_2>div,
.inner_box_5>a {
    grid-column: span 8;

    @media (width > 600px) {
        grid-column: span 4;
    }

    @media (width > 1000px) {
        grid-column: span 2;
    }
}

.inner_box_2>div:last-child {
    grid-column: span 8;

    @media (width > 1000px) {
        grid-column: span 6;
    }
}

.heading {
    width: 100%;
    text-align: start;
    font-weight: 500;
    grid-column: inherit;
    grid-column: span 8;
}

.button_con {
    grid-column: span 6 !important;
    display: flex;
    column-gap: 10px;
}

.button_con>button {
    cursor: pointer;
    height: 50px;
    width: 49.5%;
    border-radius: var(--br);
    font-size: 13px;
}

.button_con>button:nth-child(1) {

    border: 1px solid var(--border);
}


.btn {
    height: 40px;
    width: 150px;
    font-size: 13px;
}

.scroll_box {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    row-gap: 20px;
    height: calc(100% - 20px);
}

.inner_box_4 {
    padding: 20px;
    grid-column: span 8;
    display: flex;
    gap: 20px;
    height: 350px;
    overflow: hidden;
    flex-direction: column;
}

.experience {
    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    flex-direction: column;

    @media (width > 600px){
        flex-direction: row;
    }
}

.experience>p {
    width: 100%;
    font-size: 14px;
    color: #7f7f7f;
    line-height: 19px;

    @media (width > 600px){
        width: calc(100% - 200px);
    }
}

.inner_box_5 {
    padding: 20px;
    grid-column: span 8;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}