.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
}

.inner_box_1 {
    padding: 20px;
    grid-column: span 2;
    /* display: flex; */
    align-items: center;
    background-color: #F3F4FF;
    border: none;
    height: 100px;
    @media (width < 1000px) {
        grid-column: span 4;
    }

    @media (width < 500px) {
        grid-column: span 10;
    }
}
.inn_div{
    display: flex;
    gap: 2%;
    width: 100%;
}
.test_div{
    width: 300px;
}

.det_box {
    /* display: flex; */
    column-gap: 10px;
    align-items: center;
 
}

.det_box h1 {
    font-size: 25px;
    font-weight: 500;
    color: #424DB6;
}

.det_box p {
    margin-bottom: 10px;
}

.red_box {
    display: flex;
    align-items: center;
    background-color: #FFECEC;
    column-gap: 10px;
}

.red_square {
    color: #B60000;
    border: 1px solid currentColor;
    border-radius: var(--br);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.red_box_details {
    display: flex;
    row-gap: 5px;
    flex-direction: column;
}

.red_box_details h4 {
    color: #B60000;
    font-weight: 500;
    font-size: 14px;
}

.red_box_details p {
    font-size: 11px;
}

/* Innner box 2  */

.inner_box_2 {
    padding: 20px;
    grid-column: 1 / span 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
}
.inner_box_12 {
    padding: 20px;
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.inner_box_13 {
    padding: 20px;
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.inner_box_3 {
    padding: 20px;
    grid-column: span 10;
    display: flex;
    gap: 20px;
    /* height: 250px; */
    overflow: hidden;
    flex-direction: column;

    /* @media (width > 1000px) {
        grid-column: span 8;
    } */
}
.info_div{
    width: 100%;
    display: flex;
    grid-column: 1 / span 10;
    width: 100%;
    row-gap: 31px;
    /* column-gap: 50px; */
}
.inner_box_6 {
    padding: 20px;
    grid-column: span 10;
    display: block;
    /* gap: 20px; */
    /* display: grid; */
    /* grid-template-columns: repeat(8, 1fr); */
}
.inner_div{
    & div {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 250px;
        line-height: 2;
        & p {
            font-size: 14px;
            font-weight: 500;
        }
        & span{
            font-size: 14px;
            color: #989898;
            font-weight: 500px;
        }
    }
}
.inner_box_6 > h4 {
    margin-bottom: 10px !important;
}
.inner_box_6>a {
    grid-column: span 10;

    @media (width > 600px) {
        grid-column: span 4;
    }

    @media (width > 1000px) {
        grid-column: span 2;
    }
}

.inner_box_2>div,
.inner_box_5>a {
    grid-column: span 10;

    @media (width > 600px) {
        grid-column: span 4;
    }

    @media (width > 1000px) {
        grid-column: span 2;
    }
}

.inner_box_2>div:last-child {
    grid-column: span 10;

    @media (width > 1000px) {
        grid-column: span 6;
    }
}

.heading {
    width: 100%;
    text-align: start;
    font-weight: 500;
    grid-column: inherit;
    /* grid-column: span 10; */
}

.button_con {
    grid-column: span 6 !important;
    display: flex;
    column-gap: 10px;
}

.button_con>button {
    cursor: pointer;
    height: 50px;
    width: 49.5%;
    border-radius: var(--br);
    font-size: 13px;
}

.button_con>button:nth-child(1) {

    border: 1px solid var(--border);
}


.btn {
    height: 40px;
    width: 150px;
    font-size: 13px;
}

.scroll_box {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* overflow: scroll; */
    gap: 30px;
    /* height: calc(100% - 20px); */
}

.inner_box_4 {
    padding: 20px;
    grid-column: span 10;
    display: flex;
    gap: 20px;
    /* height: 350px; */
    /* overflow: hidden; */
    flex-direction: column;
}

.experience {
    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    flex-direction: column;

    @media (width > 600px){
        flex-direction: row;
    }
}

.experience>p {
    width: 100%;
    font-size: 14px;
    color: #7f7f7f;
    line-height: 19px;

    @media (width > 600px){
        width: calc(100% - 200px);
    }
}

.inner_box_5 {
    padding: 20px;
    grid-column: span 10;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.bank_div{
    display: flex;
    gap: 150px;
    & div {
        line-height: 2;
        & p {
            font-size: 14px;
            font-weight: 500;
            display: flex;
            gap: 10px;
            & span{
                color:#989898
            }
        }
    }
}
/* .inn{
    grid-template-columns:repeat(1, 1fr)
} */

@media screen and (max-width : 620px) {
    .scroll_box{
      flex-wrap: nowrap;
      flex-direction: column;
    }
    .inn_div{
        flex-direction: column;
        gap: 15px;
    }
    .inner_box_12{
        grid-column: span 10;
    }
    .inner_box_13{
        grid-column: span 10;
    }
    .bank_div{
        flex-direction: column;
        gap: 0;
    }
    .info_div{
        display: block;
    }
}