.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: relative;
    background-color: white;
}

.card_title {
    font-weight: 500;
    font-size: 14px;
}

.card_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}
.fb_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.pen_btn{
    color: #F0C734;
    background: #FFF9C0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
}

.card_tags>span {
    background: #efefef;
    padding: 2px 10px;
    border-radius: var(--br);
    font-size: 13px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row >p {
    font-size: 13px;
    color: red;
}
.readmore{
    font-size: 11px;
    border: none;
    font-weight: 500;
    background-color: white;
    text-align: left;
    color: rgb(82, 82, 167);
    text-decoration: underline;
}

.btns {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    right: 0;
    padding: 10px;
}

.btns button {
    width: 49%;
    height: 40px;
    border-radius: var(--br);
    font-size: 14px;
    font-weight: 500;
}

.cancel_btn {
    border: 1px solid #2A2A2A;
    color: #2A2A2A;
    background: white;
}

.bb {
    border: 1px solid black;
}

.agenda{
    font-size: 13px;
    font-weight: 500;
    color: #707070;
    line-height:1.5
}
.pend{
    width: 100% !important;
}