.card {
    padding: 15px;
    border-radius: var(--br);
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    color: inherit;
    text-decoration: none;
}

.card_title {
    font-weight: 500;
}

.card_detail {
    font-size: 14px;
    font-weight: 500;
}

.date {
    font-size: 13px;
    color: #686868;
    font-weight: 500;
}

.status {
    font-size: 13px;
    font-weight: 500;
    color: green;
}

.red{
    color: red;
}