.btn {
    width: 120px;
    height: 40px;
    font-size: 13px;
}

.box {
    display: flex;
    gap: 10px 1%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.widthh{
    justify-content: space-between;
    flex-direction: row !important;
    line-height: 2;
}
.teach_img{
    display: flex;
    flex-direction: column;
}
.add_price {
    /* width: 200px; */
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: #ccc;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_quote {
    flex-direction: column;
    display: flex;
    width: 100%;
}
.inn_quote {
    display: flex;
    width: 100%;
    gap: 18px;
    flex-wrap: wrap;
}
.most_inn_quote{
    width: 32.39%;
}

/* Header */

.trial_css {
    display: flex;
}

.trial_css_p,
.trial_css_span {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.trial_css_span {
    color: #989898;
    /* margin-top: 50px !important; */
}

.class_status {
    background: #ffd9d9;
    color: #DE0101;
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.class_status1 {
    background: #e2f3e2;
    color: green;
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.header_right {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.header_right_profile {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF3D6;
    border-radius: var(--br);
    text-transform: uppercase;
    font-size: 17px;
}

.header_right_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 10px;
}
.new_cls{
    height: 300px;
}

.secondary_heading {
    width: 100%;
    font-weight: 500;
}

.header_right_inner h5 {
    font-weight: 500;
    color: #a5a5a5;
}

.header_btn {
    height: 40px;
    width: 120px;
    font-size: 13px;
    background: #F5F5F5;
    border: none;
    border-radius: var(--br);
    color: #0060D4;
}


.inner_box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

.inner_box1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-height: 500px;
    overflow: scroll;
}

.page_para {
    font-size: 14px;
    color: #6b6b6b;
}

.para {
    font-size: 14px;
    font-weight: 500;
    /* color: #6b6b6b; */
}

.link {
    color: #0060D4;
    font-size: 13px;
    text-decoration: none;
}

.small_box {
    width: 100%;
    height: 379px;
}
.sb2{
    height: fit-content;
}
.more_small_box {
    width: 40%;
}

.my_img {
    width: 250px;
    margin-inline: auto;

}

.text_center {
    margin-inline: auto;
}


/*  */

/*  */
.my_upcoming_classes {
    padding-inline: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.my_upcoming_classes>h4 {
    grid-column: span 6;
}

.my_upcoming_classes>div {
    grid-column: span 2;
}

.my_tamy_task_containersks{
    max-height: 500px !important;
    height: auto !important;
}


.my_task_container {
    height: fit-content !important;
}
.my_tasks2 {
    height: fit-content;
}

.my_tasks {
    /* height: calc(100% - 30px); */
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.trial_class_btn {
    width: 150px;
    height: 40px;
    margin-left: auto;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute;
    bottom: 20px;
    width: 93%; */
}
.btns button:nth-child(1) {
    color: black;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: white;
    width: 200px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;    
    padding: 10px;
    /* border: none; */
}
.btns button {
    height: 45px;
    width: 49.5%;
    font-weight: 500;
    font-size: 13px;
}

.trial_class_h6 {
    font-size: 14px;
    font-weight: 400;
}

.trial_class_status {
    width: max-content;
    display: inline-flex;
    padding-inline: 15px;
    font-size: 13px;
    background: #FFD9D9;
    border-radius: var(--br);
    height: 30px;
    align-items: center;
    color: #DE0101;
    /* margin-left: 20px; */
}

.instruction {
    padding: 10px;
    border-radius: var(--br);
    border: 1px solid var(--border);
    font-size: 14px;
    font-size: 14px;
    color: #6b6b6b;
}

.hh{
    height: fit-content;
}
@media (width < 900px) {
    .my_upcoming_classes>div {
        grid-column: span 3;
    }
}

@media (width < 700px) {
    .my_upcoming_classes>div {
        grid-column: span 6;
    }

    .small_box {
        width: 100%;
    }
    .most_inn_quote{
        width: 100%;
    }
}

@media (width < 560px) {
    .header {
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
        row-gap: 20px;
    }

    .header_btn {
        width: 100%;
    }

    .header_right_inner {
        width: calc(100% - 50px);
    }

    .btn {
        width: 100%;
    }
    .most_inn_quote{
        width: 100%;
    }
}